# Converting Data Types

In [11]:
# Create an integer:

a = 7

# Print the type of the integer:

type(a)

int

In [12]:
# Create a string:

b = '7'

# Print the type of the string:

type(b)

str

In [13]:
# Add the integer and the string together
# This will result in an error because you can't add an integer to a string

num_sum = a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
# In order to add the values, we need to convert the string to an integer:

new_b = int(b)

# Confirm the type

type(new_b)

int

In [15]:
# Now add the 2 integers together and print:

num_sum = a + new_b

print(num_sum)

14

In [28]:
# Convert List to Tuple

# Create a list:

list_1 = [1,2,3]

# Confirm the type

type(list_1)

list

In [29]:
# Convert List to Tuple

tuple(list_1)

# Confirm the type

type(tuple(list_1))

tuple

In [1]:
# Converting a Dictionary

# Create a dictionary

dict1 = {'farm': 'Pig', 'jungle': 'monkey', 'ocean': 'turtle'}

# Confirm the type

type(dict1)

dict

In [2]:
# Print the items of the dictionary

dict1.items()

dict_items([('farm', 'Pig'), ('jungle', 'monkey'), ('ocean', 'turtle')])

In [3]:
# Print the values of the dictionary

dict1.values()

dict_values(['Pig', 'monkey', 'turtle'])

In [4]:
# Print the keys of the dictionary

dict1.keys()

dict_keys(['farm', 'jungle', 'ocean'])

In [6]:
# Convert the keys into a list

keys_list = list(dict1.keys())

# Display the result

print("Original Dictionary:", dict1)
print("Keys as a List:", keys_list)

Original Dictionary: {'farm': 'Pig', 'jungle': 'monkey', 'ocean': 'turtle'}
Keys as a List: ['farm', 'jungle', 'ocean']

In [9]:
# Convert the values into a list

values_list = list(dict1.values())

# Display the result

print('Original Dictionary:', dict1)
print('Values as a List:', values_list)

Original Dictionary: {'farm': 'Pig', 'jungle': 'monkey', 'ocean': 'turtle'}
Values as a List: ['Pig', 'monkey', 'turtle']

In [11]:
# Confirm the type of the list of values

type(values_list)

list

In [10]:
# Convert longer strings

# Create a string

str1 = 'I like to dance'

# Convert the string to a list. The list will print all of the elements in the string.

str_list = list(str1)

# Display the results

print('Original String:', str1)
print('String as a list:', str_list)

Original String: I like to dance
String as a list: ['I', ' ', 'l', 'i', 'k', 'e', ' ', 't', 'o', ' ', 'd', 'a', 'n', 'c', 'e']

In [12]:
# Confirm the type of the string list

type(str_list)

list

In [13]:
# Convert the same string into a set. 
# This will only print the unique values within the string

str_set = set(str1)

# Display the results

print('Original string:', str1)
print('String as a set:', str_set)

Original string: I like to dance
String as a set: {'d', ' ', 'a', 'l', 't', 'o', 'c', 'I', 'k', 'e', 'n', 'i'}

In [14]:
# Confirm the type of the string list

type(str_set)

set