# Data Types

## Numeric Data Types
> 1. Interger or int
> 2. Float
> 3. Complex

### 1. Integers or int
#### A whole number positive or negative, without decimals, of unlimited length

In [168]:
x = 1
y = 823748237429
z = -24

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

### 2. Float, or "floating point number"
#### A number, positive or negative, containing one or more decimals.

In [169]:
x = 1.10
y = 224.482
z = -14.3

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [170]:
# Float can also be scientific numbers with an "e" to indicate the power of 10.

x = 35e3
y = 12e4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### 3. Complex
#### Used for imaginary numbers
#### *'j' is the only imaginary number that will work with complex number types*

In [171]:
x = (12 + 3j)
y = 5j
z = -7j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

## BooLean Data Types

### Booleans represent one of two values: True or False

In [175]:
x = (10 > 9)
y = (10 == 10)
z = (10 < 9)

print(x)
print(y)
print(z)

True
True
False

In [176]:
print(type(x))
print(type(y))
print(type(z))

<class 'bool'>
<class 'bool'>
<class 'bool'>

## Text Data Types
> 1. String or str

## 1. String or str
#### Collection of data representing unicode characters
#### When using strings, put them in either single, double, or triple quotes
##### *The triple quote is called a multi-line*

In [178]:
a = 'Hello World!'
type(a)

str

In [180]:
# The upper() method returns the string in upper case:

print(a.upper())

HELLO WORLD!

In [181]:
# The lower() method returns the string in lower case:

print(a.lower())

hello world!

In [179]:
# Square brackets can be used to access elements of the string.
# The first character has the position 0

print(a[1])

e

In [182]:
# Get the characters from the start to position 5 (not included):

print(a[:5])

Hello

In [183]:
# Get the characters from position 2, and all the way to the end:

print(a[2:])

llo World!

In [184]:
# Get the characters from position 2 to position 5 (not included):

print(a[2:5])

llo

### There are 4 built-in data types in Python used to store collections of data: 
> 1. Lists
> 2. Tuples
> 3. Sets
> 4. Dictionaries

# 1. Lists
#### List items are ordered, unchangeable, and allow duplicate values
#### List items are indexed, the first item has index [0], the second item has index [1], etc.

In [98]:
# Lists are created using square brackets:

[1,2,3]

[1, 2, 3]

In [101]:
# Lists allow duplicate values:

['Cookie Dough', 'Strawberry', 'Chocolate', 'Cookie Dough']

['Cookie Dough', 'Strawberry', 'Chocolate', 'Cookie Dough']

In [100]:
# List items can be of any data type. 
# A list with strings, integers, and boolean:

['Vanilla', 3, ['Scoops','Spoon'],True]

['Vanilla', 3, ['Scoops', 'Spoon'], True]

In [185]:
# A list definied as 'ice_cream' containing 3 elements: cookie dough, strawberry, and chocolate

ice_cream = ['Cookie Dough', 'Strawberry', 'Chocolate']

# Execute:

ice_cream

['Cookie Dough', 'Strawberry', 'Chocolate']

In [111]:
# List items are indexed and can be accessed by referring to the index number:

ice_cream[1]

'Strawberry'

In [186]:
# The '.append()' is a list method that allows you to add a new element to the end of the list

# Add 'Salted Caramel' to the end of the 'ice_cream' list:

ice_cream.append('Salted Caramel')

# Execute:

ice_cream

['Cookie Dough', 'Strawberry', 'Chocolate', 'Salted Caramel']

In [187]:
# After exeuting, the 'ice_cream' list has 4 elements, with salted caramel being the last one

In [189]:
# To change the value of a specific item,refer to the index number of that item

# Change the first item:

ice_cream[0] = 'Butter Pecan'

# Execute:

ice_cream

['Butter Pecan', 'Strawberry', 'Chocolate', 'Salted Caramel']

In [190]:
# The remove() method removes the specified item

# Remove 'chocolate':

ice_cream.remove('Chocolate')

# Execute:

ice_cream

['Butter Pecan', 'Strawberry', 'Salted Caramel']

### Nested List

In [191]:
# A nested list is a list within a list
# They are helpful if you want to create a matrix or need to store a sublist along with other data types

# Create a nested list:

nest_list = ['Vanilla', 3, ['Scoops','Spoon'],True]

# Print a sublist:

nest_list[2]

['Scoops', 'Spoon']

In [192]:
# Print an element within a sublist:

nest_list[2][1]

'Spoon'

# 2. Tuple

#### A tuple is a collection which is ordered, unchangeable, and allow duplicate values.
#### Tuple items are indexed, the first item has index [0], the second item has index [1], etc.

In [121]:
# Tuples are written within paranthesis, or round brackets:

tuple_scopes = (1,2,3)

In [122]:
# Print the data type of the tuple:

type(tuple_scopes)

tuple

In [124]:
# Tuples allow duplicate values:

tuple_scoopes = (1, 2, 2, 3, 1, 4)

tuple_scoopes

(1, 2, 2, 3, 1, 4)

In [125]:
# Tuple items can be of any data type. 
# A tuple with strings, integers, and boolean:

tuple2 = ('chocolate', 14, False)

tuple2

('chocolate', 14, False)

In [194]:
# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable.
# If changes need to be made, you can convert the tuple into a list, change the list, and then convert the list back into a tuple

# Create the tuple:

x = ('frog', 'monkey','lion')

# Convert the tuple into a list:

y = list(x)

# Change index 1 of the list from monkey to hippo:

y[1] = 'hippo'

# Convert the updated list back to  a tuple:

x = tuple(y)

# Execute the tuple:

print(x)

('frog', 'hippo', 'lion')

In [195]:
# Print the data type:
type(x)

tuple

# 3. Sets

#### A set is a collection which is unordered, unchangeable, and unindexed.
##### *Set items are unchangeable, but you can remove items and add new items.*
#### Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

In [140]:
# Sets are written within curly brackets:

set_a = {1,2,3}

# Execute the set:

set_a

{1, 2, 3}

In [141]:
# Print data type of the set:

type(set_a)

set

In [142]:
# Sets cannot have two items with the same value
# Duplicate values will be ignored:

set_b = {1,2,31,2,3,4,1,2,5,6,3,2}
print(set_b)

{1, 2, 3, 4, 5, 6, 31}

In [143]:
# The values True and 1 are considered the same value in sets and are treated as duplicates
# The values False and 0 are also considered the same value in sets and treated as duplicates

# Example:

set_c = {'monkey', 'lion', True, 1, 0, 2, False, 1}

# Execute:

set_c

{0, 2, True, 'lion', 'monkey'}

In [196]:
# Set items can be of any data type. 
# A set with strings, integers, and boolean:

set_d = {'monkey', 'lion', 3, False, 14, 'male'}

# Execute:
    
set_d

{14, 3, False, 'lion', 'male', 'monkey'}

### A common use case for sets is to compare two sets to identify the common elements and differences between them by using various operations:
> a. Intersection (&)

> b. Union (|)

> c. Difference (-)

> d. Symmetric Difference (-)

### a. Intersection (&)
#### The intersecition between two sets, results in a third set that contains the elements that are common in both sets

In [146]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

In [197]:
# Intersection (&):

common_elements = (set1 & set2)
# or equivalently
common_elements = (set1.intersection(set2))

# Execute:

print(common_elements)

{3, 4, 5}

### b. Union ( | )
#### The union between two sets, results in a third set containing all unique elements from both sets.

In [151]:
# Union (|):

all_elements = set1 | set2
# or equivalently
all_elements = set1.union(set2)

# Execute:

print(all_elements)

{1, 2, 3, 4, 5, 6, 7}

### c. Difference (-)
#### The difference between two sets results in a third set containing elements that are in the first set but not in the second set.

In [155]:
# Difference (-)

difference_set1 = set1 - set2

# Execute:

print(difference_set1)

{1, 2}

In [ ]:
# 1 and 2 are the only elements that are in set 1, but not in set 2

In [157]:
# This operation is NOT commutative. This means that the order in which you perform the difference operation matters and results differ depending on the order of the sets involved
# A - B does not equal B - A
# With that being said, to find the elements that are in set 2, but NOT in set 1, you must use:

difference_set2 = set2 - set1

# Execute

print(difference_set2)

{6, 7}

In [ ]:
# 6 and 7 are the only elements that are in set 2, but not in set 1

### d. Symmetric Difference (^)
#### The symmetric difference between two sets results in a third set containing elements that are unique to each set.

In [158]:
# Symmetric Difference (^)

symmetric_difference = set1 ^ set2

# Execute:

print(symmetric_difference)

{1, 2, 6, 7}

# 4. Dictionaries

#### Used to store data values in key:value pairs
#### A collection which is ordered, changeable, and do not allow duplicates
##### *A colon (:) separates each key from its associated value*

In [198]:
# Dictionaries are written within curly brackets
# create and print a dictonary

dict_ice = {'name': 'Presley', 'weekly intake': 2, 'favorite ice creams': ['Chocolate', 'Cookie Dough']}
# 'favorite ice creams' is a list within the dictonary

# Execute

print(dict_ice)

{'name': 'Presley', 'weekly intake': 2, 'favorite ice creams': ['Chocolate', 'Cookie Dough']}

In [199]:
# From Python's perspective, dictionaries are defined as objects with the data type 'dict':
# Print the data type of a dictionary:

type(dict_ice)

dict

In [162]:
# Values are the data associated with the keys in a dictionary.
# Print the values of a dictionary:

dict_ice.values()

dict_values(['Presley', 2, ['Chocolate', 'Cookie Dough']])

In [163]:
# Keys are the unique identifiers for the values in a dictionary
# Keys are used to access the corresponding values
# Print the keys of a dictionary:

dict_ice.keys()

dict_keys(['name', 'weekly intake', 'favorite ice creams'])

In [164]:
# Item in a dictionary refer to the key-value pairs as a whole
# Print the itesm of a dictionary:
dict_ice.items()

dict_items([('name', 'Presley'), ('weekly intake', 2), ('favorite ice creams', ['Chocolate', 'Cookie Dough'])])

In [82]:
# Within dictionaires, you can't call values by the index. Instead, dictionary items can be referred to by using the key name

dict_ice['name']

'Presley'

In [83]:
# You can change the value of a specific item by referring to its key name
# Update 'name' in the dictionary:

dict_ice['name'] = 'Presley Schumacher'

# Print dictionary with the updated information:

print(dict_ice)

{'name': 'Presley Schumacher', 'weekly intake': 2, 'favorite ice creams': ['Chocolate', 'Cookie Dough']}

In [165]:
# Using '.update' will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

dict_ice.update({'name': 'Presley Schumacher', 
                 'weekly intake': 2, 
                 'weight': 400})

# 'weight' does not exist in the original dictionary so it will be added                
# Print the updated dictionary

print(dict_ice)

{'name': 'Presley Schumacher', 'weekly intake': 2, 'favorite ice creams': ['Chocolate', 'Cookie Dough'], 'weight': 400}

In [166]:
# The del keyword removes the item with the specified key name:

del dict_ice['weight']

# Execute:

print(dict_ice)

{'name': 'Presley Schumacher', 'weekly intake': 2, 'favorite ice creams': ['Chocolate', 'Cookie Dough']}