# For Loops

#### A for loop is used for iterating over a sequence (this can be a list, tuple, a dictionary, a set, or a string).
#### With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [2]:
# Print each animal in an animal list:

animals = ['duck', 'horse', 'cow']
for x in animals:
    print(x)

duck
horse
cow

#### Looping through a Dictionary

In [12]:
# Create a dictionary:

animals_dict = {'farm': 'pigs', 'jungle': 'monkey', 'ocean': 'fish'}

# When looping dictionaries, it must be specified whether you want to pull the keys, values, or items within the dictionary.
# Pull the keys:

for x in animals_dict.keys():
    print(x)

farm
jungle
ocean

In [8]:
# Pull the values:

for x in animals_dict.values():
    print(x)

pigs
monkey
fish

In [11]:
# Pull keys and values of the dictionary at the same time:

for key, value in animals_dict.items():
    print(key, '->', value)

farm -> pigs
jungle -> monkey
ocean -> fish

### Nested For Loops

In [14]:
# First create 2 lists:

animals = ['pigs', 'monkey', 'fish']
habitats = ['farm', 'jungle', 'ocean']

# The first loop (for on in animals) itertes over each element in the 'animals' list
# For each element in the 'animals' list, the inner loop (for two in habitats)  iterates over each element in the habitats list.
# Inside the inner loop, the print statement prints the current animal (one) and its corresponding habitat (two)
# This process continues until all combinations of animals and habitats have been printed.

for one in animals:
    for two in habitats:
        print(one, 'live at/in a', two)

pigs live at/in a farm
pigs live at/in a jungle
pigs live at/in a ocean
monkey live at/in a farm
monkey live at/in a jungle
monkey live at/in a ocean
fish live at/in a farm
fish live at/in a jungle
fish live at/in a ocean

### The break Statement

In [15]:
# Exit the loop when x is 'monkey':

animals = ['pigs', 'monkey', 'fish']
for x in animals:
    print(x)
    if x == 'monkey':
        break

pigs
monkey

In [17]:
# Exit the loop when x is 'monkey' but this time the break comes before the print, or before x is printed

animals = ['pigs', 'monkey', 'fish']
for x in animals:
    if x == 'monkey':
        break
    print(x)

pigs

### The continue Statement

In [19]:
# The 'continue' statement skips the rest of the code insidethe loop for the current iteration and moves on to the next iteration
# When 'monkey' is encountered, the 'print(x)' statement is skipped for that particular iteration and the loop proceeds to the next element in the list

# Do not print 'monkey':

animals = ['pigs', 'monkey', 'fish']
for x in animals:
    if x == 'monkey':
        continue
    print(x)

pigs
fish

### The range() Function

In [27]:
# To loop through a set of code a specified number of times, we can use the range() function,
# The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified numbe

# Using the range() function:

for x in range(5):
    print(x)

0
1
2
3
4

In [21]:
# It is possible to specify the starting value by adding a parameter

# range(2, 6), means values from 2 to 6 (but not including 6):

for x in range(2, 6):
    print(x)

2
3
4
5

In [22]:
# The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter

# Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

### Else in For Loop

In [26]:
# The else keyword in a for loop specifies a block of code to be executed when the loop is finished

# Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
    print(x)
else:
    print('Finally Finished')

0
1
2
3
4
5
Finally Finished

### The pass Statement

In [25]:
# for loops cannot be empty, but if you for some reason have a for loop with no content, 
# put in the pass statement to avoid getting an error.

for x in [0,1,2]:
    pass