# Python Operators

## Comparison Operators
### Comparison operators are used to compare two values

| Operator | Name                     |
|:--------:|:------------------------:|
|  ==      |  Equal                   |
|  !=      | Not Equal                |
|  >       | Great Than               |
|  <       | Less Than                | 
|  >=      | Greater than or equal to |
|  <=      | Less than or equal to    |

##### Examples:

In [1]:
10 == 10

True

In [2]:
10 == 50

False

In [3]:
10 != 50

True

In [4]:
# Comparison operators also work on string variables:

'chocolate' == 'chocolate'

True

In [5]:
x = 'chocolate'
y = 'vanilla'

x != y

True

## Logical Operators
### Logical operators are used to combine conditional statements

| Operator | Description              | Example       |
|:--------:|:------------------------:|:--------------|
|  and     | Returns True if both statements are true | x < 5 and  x < 10 |
|  or      | Returns True if one of the statements is true| x < 5 or x < 4 |
|  not     | Reverse the result, returns False if the result is true| not(x < 5 and x < 10)|

##### Examples:

In [13]:
# When using 'and', both statements are required to be true in order for the output to return a 'True'

(10 > 50) and (50 > 10)

False

In [10]:
(70 > 50) and (50 > 10)

True

In [18]:
# When using 'or', only one statement is required to be true in order for the output to return 'True'

(10 > 50) or (50 > 10)

True

In [17]:
# Logical operators also work on string variables:

('Vanilla' > 'Chocolate') and (50 > 10)

True

In [19]:
# When using 'not', if the statement is True, the output will return 'False'

not(50 > 10)

False

## Membership Operators
### Membership operators are used to test if a sequence is presented in an object

| Operator | Description              | Example       |
|:--------:|:------------------------:|:--------------|
|  in      | Returns True if a sequence with the specified value is present in the object |x in y |
|  not in  | Returns True if a sequence with the specified value is not present in the object|x not in y|

##### Examples:

In [21]:
# First create a variable and assign it to a string value:

ice_cream = 'I love chocolate ice cream'

# Then search to see if 'love' is located in the string value:

'love' in ice_cream

True

In [22]:
# Create a list:

scoops = [1,2,3,4,5]

# Search to see if a value can be found within in the list:

8 in scoops

False